<div class="container">
    <h1 class="text-center">{{foto.titulo}}</h1>
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <form [formGroup]="meuForm" (submit)="cadastrar($event)" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tarefa</label>
                <input name="titulo" formControlName="titulo" [(ngModel)]="foto.titulo" class="form-control" autocomplete="off">    
                <div *ngIf="meuForm.controls.titulo.invalid" >
                         <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger" >Tarefa nao pode estar em branco</span>
                         <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger" >Tarefa deve ter no minimo 4 caracteres</span>
                </div>
            </div>
                       
           <div class="form-group">
  <label for="sel1">Status:</label>
  <select name="url" formControlName="url" class="form-control">
    <option >Concluido</option>
    <option  >Pendente</option>
    <option >Em curso</option>
  </select>
</div>
            <botao nome="Salvar" estilo="btn-primary" tipo="submit" [desabilitado]="meuForm.invalid"></botao>
            
             <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
      
        </div>
          

    </form>
</div>