<div class="jumbotron">
  <h1 class="text-center">Tasks</h1>
  
</div>
<div class="container">
  
  <div class="row">
   <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
   <div class="col-md-12">
    <form>
     <div class="input-group">
      <span class="input-group-btn">
       
        <a [routerLink]="['/cadastro']" class="btn btn-primary">
          Nova tarefa
        </a>
      </span>
      <input class="form-control" #textoProcurado (keyup)="0" placeholder="filtrar pela tarefa">
    </div> 
  </form>
</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->
<br>

<div class="container">
  <h2>Lista de tarefas</h2>
  <p>Consulte aqui suas tarefas</p>            
  
  <div class="list-group">
   
   
   
   <a  href="#" class="list-group-item active painel">
     <div class="row">
      <div class="col-md-4">Tarefa</div>
      <div class="col-md-4">Status</div>
      <div class="col-md-4">Data</div>
    </div>
  </a>

 

<a #painel *ngFor="let foto of fotos |filtroPorTitulo: textoProcurado.value" class="lista" class="list-group-item lista">


      <div class="row background " *ngIf="foto.url == 'Concluido'" >
       <div class="col-md-4"><s> {{foto.titulo}}</s></div>
       <div class="col-md-4"><s>  {{foto.url}}</s></div>
       <div class="col-md-4">
           
           <s>   {{foto.data | date: 'dd/MM/yyyy HH:mm:ss'}}</s>
            
           <button (click)="remove(foto,painel)" class="btn-view-fund btn btn-danger btn-xs" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>     
         
         </div>
       
          
          
     </div>

       <div class="row background2 " *ngIf="foto.url == 'Pendente'" >
       <div class="col-md-4">{{foto.titulo}}</div>
       <div class="col-md-4"> {{foto.url}}</div>
       <div class="col-md-4">
      
             {{foto.data | date: 'dd/MM/yyyy HH:mm:ss'}}
         <button (click)="remove(foto,painel)" class="btn-view-fund btn btn-danger btn-xs" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>     
       </div>
     </div>

     <div class="row background1 " *ngIf="foto.url == 'Em curso'" >
       <div class="col-md-4"> {{foto.titulo}}</div>
       <div class="col-md-4"> {{foto.url}}</div>
        <div class="col-md-4">
           
       {{foto.data | date: 'dd/MM/yyyy HH:mm:ss'}}
       
       
        <button (click)="remove(foto,painel)" class="btn-view-fund btn btn-danger btn-xs" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
        </div>
     </div>

</a>
    


        


</div><!-- fim row -->
  

  
</div>