.teste{
   margin-bottom: 0px;
}
.background{

    color: #3c763d;
    background-color: #dff0d8;
    padding: 0px;
    margin: 0px;
}
.alinhamento{
  align-items: right;
    text-align: right;
}

.lista{
    padding: 0px;
  
}

.background1{

   color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 0px;
    margin: 0px;
}
.background2{

     color: #a94442;
    background-color: #f2dede;
    padding: 0px;
    margin: 0px;
}